<template>
  <div class="ad-btn" :class="`ad-${type}`">
    xxx
  </div>
</template>

<script>
export default {
  props:['type']
}
</script>

<style>
.ad-blue {
  background: blue;
}

.ad-red {
  background: red;
}
.ad-btn {
  display: inline-block;
  border: 0;
}
</style>