<template>
  <div>
    <div class="card" style="width: 18rem;">
      <img :src="img" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p
          class="card-text"
        >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        

      </div>
    </div>
    <div>asdasda</div>
    <button>asdas</button>
    <button-arm type="red" text="xxx">1234</button-arm>
  </div>
</template>

<script>
import ButtonArm from './Button'
export default {
  components:{
    ButtonArm
  },
  props:['img']
};
</script>

<style>
</style>