<template>
  <div @click="$emit('showAdd',order.id)" :class="order.unit < 1 ? 'bg-secondary' :''">

    <div v-if="order.unit < 1">สินค้าหมด</div>
    <img :src="order.img_url" class="w-100" height="130">
    <h6>{{order.name}}</h6>
    <div v-if="showStock">{{ order.unit }}</div>
      <transition name="fade"  mode="out-in">
    <div v-if="showAdd && order.unit > 0">
     {{order.unit}}   จำนวน
    </div>
      </transition>
  </div>
</template>

<script>
export default {
  props: {
    order: {
      type: Object
    },
    showStock:{
      type: Boolean,
      default: false
    },
    showAdd:{
      type: Boolean,
      default: false
    },
    index:{
      type: Number
    }
  },
}
</script>

<style scoped>
img {
  object-fit: cover;
}
</style>