body{
  border-radius: 30px;
  font-family: 'Kanit', sans-serif !important ; 
  margin-top: 30px;
  /* background-image: linear-gradient(to top,rgba(232,232,232,100),rgba(251,134,0,100)); */
  
}
html,body{
  background-color: #f96c00 ;
  /* background-color: linear-gradient(45deg,#f96c00,#ffa068); */
}
img{
  object-fit: cover;
}
.bdr{
  border-radius: 50px 50px 0px 0px !important;
}

.btn-orange{
  width: 100%;
  padding: 5px;
  background-color: #f96c00 !important;
  color: #fff !important;
  border-radius: 5px;
  border: none;
}
.btn-orange-o{
  width: 100%;
  padding: 5px;
  background-color: #fff;
  color: #f96c00;
  border: 1px solid #f96c00;
  border-radius: 5px;
}
.btn-float{
  width: 80%;
  margin: 0 10%;
  height: 50px;
  position: fixed;
  bottom: 70px;
  color: #fff;
  background-color: #F96C00 !important;
  border:none;
  padding: 10px;
  font-size: 28px;
}
.color-header{
  color: #fff;
}
.color-text h5{
  color: #F96C00;
}
.w-square-bg{
  width: 100%;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  min-height: 80px;
}
.w-square-promotion{
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.profile-user img{
  border-radius: 50%;
}

.title-orange{
  text-align: center;
  color: #F96C00;
  font-size: 18px;
  font-weight: 500;
}

.m,.p{
  width: 33%;
  text-align: center;
  color: #F96C00;
  font-size: 36px;
  border: none;
  background-color: transparent;
}

.m2,.p2{
  width: 33%;
  text-align: center;
  color: #F96C00;
  font-size: 24px;
  border: none;
  background-color: transparent;
}

.a-white{
  text-decoration: none;
  color: #fff !important;
}
