<template>
<card title="Customer Confirmation">
    <div class="card">
    <div class="card-body">
      <h1>อนุมัติลูกค้าแรกเข้า ({{items.length}})</h1>
      
      <!-- <router-link to="/admin/foods/create">
        <button class="btn btn-primary">Add</button>
      </router-link> -->
      <hr />
      <b-pagination
        v-model="currentPage"
        :total-rows="items.length"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>

      <b-table
        striped
        hover
        :items="items"
        :fields="fields"
        :per-page="perPage"
        :current-page="currentPage"
      >
        <template v-slot:cell(img_url)="data">
          <img :src="data.value" width="40" />
        </template>

        <template v-slot:cell(action)="row">
          
        <b-button v-b-modal="'my-modal-'+row.item.id">เช็คสถานะการโอน</b-button>

        <b-modal :id="'my-modal-'+row.item.id" :ref="'my-modal-'+row.item.id" size="m" hide-header hide-footer > 
        <div class="text-center">
        <img :src="row.item.pay_image_url">
        <!-- <pre> {{ row.item }}</pre> -->
        <hr>
        {{ row.item.package.name }}  - {{ row.item.first_name }}
        <br>
        <button @click="approve(row.item.id)" class="btn btn-orange mt-3">อนุมัติลูกค้า</button>
        <hr>

        </div>
        </b-modal>
          <!-- <router-link :to="`/tables/${table.id}`">
            
          </router-link> -->
           <!-- <router-link :to="`/admin/foods/${row.item.id}/edit`">
          <button class="btn btn-success">Update</button>
          </router-link> -->
          <!-- <button class="btn btn-danger" @click="del(row.item.id)">delete</button> -->
        </template>
      </b-table>

      <b-pagination
        v-model="currentPage"
        :total-rows="items.length"
        :per-page="perPage"
        aria-controls="my-table"
        class="mb-5"
      ></b-pagination>



    </div>
  </div>

</card>
</template>

<script>
import axios from 'axios'
export default  {
    data(){
        return {
            items:[],
            modalShow:false,
            perPage: 7,
            currentPage: 1,
      // Note `isActive` is left out and will not appear in the rendered table
      fields: ["id","package.name", "first_name", "last_name", "store_name","email", "tel", "Action"]

        }
    },
    methods:{
        async fetch(){
            let {data} = await axios.get('/api/superadmin/confirmcustomer')
            this.items = data
        },
         async approve(id){
           var r = confirm("ยืนยันการทำรายการ");
              if (r == true) {
                  let {data} = await axios.post('/api/superadmin/confirmcustomer/'+id)
                          this.fetch()

                          this.items.forEach(el=>{
                          this.$refs['my-modal-'+el.id].hide()
                          })
              } else {
                
              }
         
        },

    },
    created(){
        this.fetch()
    }
}
</script>

<style scoped>

</style>