<template>
<card title="Customer Confirmation">


    <div class="card">
    <div class="card-body">
      <h1>รายชื่อสาขา ({{items.length}})</h1>
      <button @click="ex_status=0">ทั้งหมด</button> <button  @click="ex_status=1">กำลังใช้งาน</button><button  @click="ex_status=2">หมดอายุ</button>

      <!-- <router-link to="/admin/foods/create">
        <button class="btn btn-primary">Add</button>
      </router-link> -->
      <hr />
      <b-pagination
        v-model="currentPage"
        :total-rows="items.length"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>

      <b-table
        striped
        hover
        :items="filterEx(items)"
        :fields="fields"
        :per-page="perPage"
        :current-page="currentPage"
      >
        <template v-slot:cell(img_url)="data">
          <img :src="data.value" width="40" />
        </template>
        
      </b-table>

      <b-pagination
        v-model="currentPage"
        :total-rows="items.length"
        :per-page="perPage"
        aria-controls="my-table"
        class="mb-5"
      ></b-pagination>

    </div>
  </div>

</card>
</template>

<script>
import axios from 'axios'
export default  {
    data(){
        return {
            items:[],
            modalShow:false,
            perPage: 7,
            currentPage: 1,
            ex_status:0,
      // Note `isActive` is left out and will not appear in the rendered table
      fields: ["id","name","package.name","user.first_name",'user.last_name', "expiry_date", "created_at", "Action"]

        }
    },
    methods:{
        async fetch(){
            let {data} = await axios.get('/api/superadmin/branches')
            this.items = data
        },
        filterEx(items){
            if(this.ex_status == 0){
                return items
            }
              if(this.ex_status == 1){
                return items.filter(el=>el.isExpire == false)
            }
             if(this.ex_status == 2){
                return items.filter(el=>el.isExpire == true)
            }
        },
         async approve(id){
           var r = confirm("ยืนยันการทำรายการ");
              if (r == true) {
                  let {data} = await axios.post('/api/superadmin/confirmcustomer/'+id)
                          this.fetch()

                          this.items.forEach(el=>{
                          this.$refs['my-modal-'+el.id].hide()
                          })
              } else {
                
              }
         
        },

    },
    created(){
        this.fetch()
    }
}
</script>

<style scoped>

</style>