<template>
<card title="Details">
    <div class="container">
        รายละเอียดร้านลูกค้า เช่น วันเข้ามาร่วมงาน ใช้แพ็คเกจไหน วันหมดอายุ ข้อมูลติตด่อ
        <hr>
        ปรับแต่งต่างๆ พวก เปลี่ยนแพ็คเกจ ยกเลิกสัญญา บลาๆ
    </div>
</card>
</template>

<script>
</script>

<style scoped>

</style>