<template>
  <div class="ptlob-5">
    <Nav-bar></Nav-bar>
    
    <div class="admin-warp">
    <div class="left-menu-admin">
      <card title="Super Admin ShubaServices" class="settings-card">
        <ul class="nav flex-column">
          <li v-for="tab in tabs" :key="tab.route" class="nav-item">
            
            <router-link :to="{ name: tab.route }" class="nav-link" active-class="active">
              <!-- <fa :icon="tab.icon" fixed-width style="text-size:8px;"/> -->
              <i :class="tab.icon" style="width:20px">  </i>
              | {{ tab.name }}
              
            </router-link>
          </li>
          
        </ul>

              <button class=" btn-orange float-right mt-1" @click="logout()">ออกจากระบบ | <i class="fa fa-sign-out " aria-hidden="true"></i></button>

      </card>
    </div>

    <div class="content-admin">
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
    </div>
    </div>
  
  
  </div>
</template>


<script>
import NavBar from '~/components/Navbar'

export default {
  middleware: "superadmin",
  components:{
    NavBar,
  },
  computed: {
    tabs() {
      return [
        {
          name: "หน้าแรก",
          route: "superadmin.dashboard",
          icon:"fa fa-bar-chart",
        },
        {
          name: "อนุมัติร้านค้าแรกเข้า",
          route: "superadmin.confirmcustomer",
          icon:"fa fa-clipboard",
        },
        {
          name: "อนุมัติร้านค้าต่อสัญญา",
          route: "superadmin.confirmcustomer_renew",
          icon:"fa fa-clipboard",
        },
        {
          name: "รายการแพ็คเกจ",
          route: "superadmin.package_list",
          icon:"fa fa-list",
        },
        {
          name: "เพิ่มแพ็คเกจ",
          route: "superadmin.package",
          icon:"fa fa-archive",
        },
      ];
    }
  },
  methods: {
    hideModal() {
      this.$refs["modal-setting"].hide();
    },
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: 'login' })
    },
      async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: 'login' })
    },
  }
};
</script>

<style scoped>
.admin-warp{
  width: 100%;
}
.left-menu-admin{
  width: 20%;
  float: left;
  height: 1000px;
}
.content-admin{
  width: 80%;
  float: left;
}
.card{
  border-radius: 0px;
}
.card-body{
  min-height:100vh;
}
.settings-card{
  border: none;
  height: 1800px;
  background-color: rgb(44, 44, 44);
  color:  rgb(255, 141, 35) !important;
  border-right: 1px solid #ccc;
}
a{
  color:  rgb(255, 141, 35) !important;
}
html,body{
  background-color: rgb(46, 46, 46);
  height: 100%;
  margin: 0;
}
.card-header{
  color: rgb(255, 141, 35) !important;
}
.nav-link{
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.ptlob-5{
  margin-top: -96px;
}


</style>
