<template>
<card title="Add Food">
  <div class="container p-5">
    <h2 class="mt-1">เพิ่มรายการอาหาร</h2>
    <hr />

    <!-- //uploadimage -->
    <div class="card card-body">
      <label for>Image Upload</label>
      <input type="file" class="form-control" multiple @change="setFile" />
      <img :src="form.img_url" alt v-if="form.img_url" width="300" />
    </div>
    <!-- //end uploadimage -->

    <form @submit.prevent="checkForm">
      <div v-for="item in fileds" :key="item.id" :class="item.class ? item.class :''">
        <div class="form-group" v-if="item.type==1">
          <label>{{item.label ? item.label : item.name }} {{item.require?'*':''}}</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            v-model="form[`${item.name}`]"
            :required="item.require"
          />
        </div>

        <div class="form-group" v-if="item.type==2">
          <label>{{item.label ? item.label : item.name }} {{item.require?'*':''}}</label>
          <input
            type="number"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            v-model="form[`${item.name}`]"
            :required="item.require"
          />
        </div>

        <div class="form-group" v-if="item.type==3">
          <label>{{item.label ? item.label : item.name }} {{item.require?'*':''}}</label>
          <textarea
            v-model="form[`${item.name}`]"
            cols="30"
            rows="10"
            class="form-control"
            :required="item.require"
          ></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for>types</label>
        <select v-model="form.type_id">
          <option v-for="(item, index) in types" :key="index" :value="item.id">{{item.name}}</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for>brand</label>
        <select v-model="form.brand_id">
          <option v-for="(item, index) in brands" :key="index" :value="item.id">{{item.name}}</option>
        </select>
      </div>

      <div class="form-group pb-5">
        <div class>
          <!-- Submit Button -->
          <v-button :loading="form.busy">{{!id?'เพิ่มรายการ':'แก้ไขรายการ'}}</v-button>
        </div>
      </div>
    </form>
  </div>
</card>
</template>

<script>
import Form from "vform";
import { mapActions, mapGetters } from "vuex";

export default {
  methods: {
    ...mapActions({
      fetchType: "type/fetch",
      fetchBrand: "brand/fetch",
      fetchFood: "foods/fetch"

    }),
    checkForm(){
      if(!this.id){
        this.add()
      }else{
        this.update()
      }
    },
    async add() {
      const { data } = await this.form.post("/api/foods");
      if (data) {
        this.$router.push("/admin/foods");
      }
    },
    async update(){
      const {data} = await this.form.put('/api/foods/'+this.id)
       if (data) {
        this.$router.push("/admin/foods");
      }
    },
    async setFile(e) {
      // ถ้ามี upload image
      this.file = e.target.files[0];
      let d = await this.uploadFile({
        file: this.file,
        path: "imgs"
      });
      this.form.img_url = d;
    }
  },
  computed: {
    ...mapGetters({
      types: "type/items",
      brands: "brand/items",
      foods: "foods/items"

    }),
    id(){
      return this.$route.params.id
    }
  },
  data() {
    return {
      form: new Form({
        type_id: 1,
        brand_id: 1,
        img_url: ""
      }),
      fileds: [
        // 1.string2.number3.textarea
        {
          name: "name",
          label: "ชื่อ",
          type: 1,
          require: true
          // class: "bg-danger"
        },
        {
          name: "price",
          label: "ราคา",
          type: 2,
          require: true
          // class: "bg-danger"
        },
        {
          name: "point",
          label: "คะแนน",
          type: 2,
          require: true
        },
        {
          name: "unit",
          label: "จำนวน",
          type: 2,
          require: true
        }
      ]
    };
  },
  created() {
    this.fetchType();
    this.fetchBrand();
    if(this.id){
      this.fetchFood()

     let item = this.foods.find(el=>el.id == this.id)
      this.fileds.forEach((el, key) => {
        this.form[el.name] = item[el.name];
      });

      this.form.img_url = item['img_url']
     

    }
  }
};
</script>

<style>
</style>
