<template>
  <div class="card">
    <div class="card-body">
      <h1>สินค้าทั้งหมด ({{items.length}})</h1>
      
      <!-- <router-link to="/admin/foods/create">
        <button class="btn btn-primary">Add</button>
      </router-link> -->
      <hr />
      <b-pagination
        v-model="currentPage"
        :total-rows="items.length"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>

      <b-table
        striped
        hover
        :items="items"
        :fields="fields"
        :per-page="perPage"
        :current-page="currentPage"
      >
        <template v-slot:cell(img_url)="data">
          <img :src="data.value" width="40" />
        </template>

        <template v-slot:cell(action)="row">
          <router-link :to="`/admin/foods/${row.item.id}/edit`">
            <button class="btn btn-success">Update</button>
          </router-link>
        </template>
      </b-table>

      <b-pagination
        v-model="currentPage"
        :total-rows="items.length"
        :per-page="perPage"
        aria-controls="my-table"
        class="mb-5"
      ></b-pagination>

    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import axios from "axios";

export default {
  data() {
    return {
      perPage: 7,
      currentPage: 1,
      // Note `isActive` is left out and will not appear in the rendered table
      fields: ["id", "name", "price", "unit", "Action"]
    };
  },
  computed: {
    ...mapGetters({
      items: "foods/items"
    })
  },
  methods: {
    ...mapActions({
      fetch: "foods/fetch"
    }),
    async del(id) {
      await axios.delete(`/api/foods/${id}`);
      this.fetch();
    }
  },
  created() {
    this.fetch();
  }
};
</script>

<style>
</style>
