<template>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom text-white">
        <div class="container">

            <router-link :to="{name:'welcome'}">
            <a class="navbar-brand" href="#">
                <img src="images/logo-w.png" width="55" alt="">
            </a>
            </router-link>

            <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-white" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <router-link :to="{ name: 'getting-started' }" class="ml-2">{{ 'เริ่มต้นใช้งาน' }}</router-link>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">

        <div class="logo text-center">
            <img src="images/logo.png" alt="" width="120">
        </div>
        
        <h3 class="title text-center mt-3">ระบุข้อมูลเพื่อเข้าร่วมงานกับทางเรา</h3>

        <div class="createnew1-box  shadow">
        
        <form @submit.prevent="register" @keydown="form.onKeydown($event)" class="container">
          <!-- StoreName -->
          <div class="box-login">
            <h6>ชื่อร้านอาหาร :</h6>
            <div class="input-login mb-3">
              <input v-model="form.store_name" :class="{ 'is-invalid': form.errors.has('first_name') }" class="form-control" type="text" name="first_name">
              <has-error :form="form" field="store_name" />
            </div>
          </div>

          <hr class="mt-5 mb-5">

          <!-- FirstName -->
          <div class="box-login">
            <h6>ชื่อ :</h6>
            <div class="input-login mb-3">
              <input v-model="form.first_name" :class="{ 'is-invalid': form.errors.has('last_name') }" class="form-control" type="text" name="last_name">
              <has-error :form="form" field="first_name" />
            </div>
          </div>

          <!-- LastName -->
          <div class="box-login">
            <h6>นามสกุล :</h6>
            <div class="input-login mb-3">
              <input v-model="form.last_name" :class="{ 'is-invalid': form.errors.has('last_name') }" class="form-control" type="text" name="last_name">
              <has-error :form="form" field="last_name" />
            </div>
          </div>

          <!-- Tel -->
          <div class="box-login">
            <h6 class="float-left">เบอร์โทร :</h6>
            <p class="float-left text-secondary ml-2" style="color:#333;">*สำหรับรับข้อความยืนยันจากทางเรา</p>
            <div class="input-login mb-3">
              <input v-model="form.tel" :class="{ 'is-invalid': form.errors.has('tel') }" class="form-control" type="tel" name="tel">
              <has-error :form="form" field="tel" />
            </div>
          </div>
          
          <!-- Email -->
          <div class="box-login">
            <h6>อีเมล : </h6>
            <div class="input-login mb-3">
              <input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" class="form-control" type="email" name="email">
              <has-error :form="form" field="email" />
            </div>
          </div>

          <!-- Package -->
          <div class="box-login">
            <h6>แพ็คเกจที่สนใจ :</h6>
            <div class="form-group">
              <select v-model="form.store_package_id" :class="{ 'is-invalid': form.errors.has('gender') }" class="form-control" name="gender">
                <option :value="item.id" v-for="item in store_packages" :key="item.id">{{ item.name }} ( ฿ {{item.price}}/ เดือน )</option>
                <!-- <option value="2">.Professional ( ฿ 2,500 / เดือน )</option>
                <option value="3">.Exclusive ( ฿ 2,700 / เดือน )</option> -->
              </select>
              <has-error :form="form" field="store_package_id" />
            </div>
          </div>


            <v-button :loading="form.busy" class="btnlogin mt-5">
                {{'ยืนยันข้อมูล'}}
            </v-button>

        </form>

        </div>

        <div id="contact">
            <div class="createnew-box shadow mt-4">
                <h5 class="text-orange">ติดต่อเรา</h5><hr>

                <div class="row">
                    <div class="col col-6">
                        <div class="contact1 shadow mt-3">
                            <h5>Facebook</h5> 
                            <hr>
                            <a href="" style="color:#fff;">https://www.facebook.com/shubaservice</a>
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="contact2 shadow mt-3">
                            <h5>Line</h5> 
                            <hr>
                            <a href="" style="color:#fff;">@shubaservice</a>
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="contact3 shadow mt-3">
                            <h5>E-mail</h5> 
                            <hr>
                            <a href="" style="color:#fff;">support@shubaservice.com</a>
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="contact4 shadow mt-3">
                            <h5>Telephone</h5> 
                            <hr>
                            <a href="" style="color:#fff;">087-247-6582</a> /
                            <a href="" style="color:#fff;">089-725-6824</a>
                        </div>
                    </div>
                    
                </div>
            </div>     
        </div>
    </div>
</div>

</template>

<script>
import Form from 'vform'
import LoginWithGithub from '~/components/LoginWithGithub'
import {mapGetters,mapActions} from 'vuex'
export default {
  middleware: 'guest',

  components: {
    LoginWithGithub
  },
  created(){
    this.fetchPack()
  },

  metaInfo () {
    return { title: 'register' }
  },
  computed:{
    ...mapGetters({
      store_packages: 'store_package/items'
    })
  },

  data: () => ({
    form: new Form({
      store_name: '',
      first_name: '',
      last_name:'',
      tel:'',
      email: '',
      store_package_id:1,
    }),
    mustVerifyEmail: false
  }),

  methods: {
    ...mapActions({
      fetchPack : 'store_package/fetch'
    }),
    async register () {
      // Register the user.
      const { data } = await this.form.post('/api/register_new')

        this.$router.push({ name: 'login' })
      }
    }
  
}
</script>

<style scoped>
html {
  scroll-behavior: smooth;
 }
.bg-light{
 background-color: #f96c00 !important;
 border: none;
}
.title{
    font-weight: 600;
}
.createnew1-box{
    margin-top: 35px;
    width: 100%;
    padding: 50px;
    border-radius: 5px;
    /* height: 500px; */
}
.createnew-box{
    margin-top: 35px;
    width: 100%;
    padding: 30px;
    border-radius: 5px;
    /* height: 500px; */
}
.imglogo img{
    text-align: center;
    margin: auto;
}
.navbar-nav a{
    color: #fff !important;
}
.text-orange{
    color: #f96c00;
}
.table-sub{
    font-weight: 400;
}
.contact1{
    width: 100%;
    background-color: #4267B2;
    color: #fff;
    padding: 30px;
    border-radius: 5px;
}
.contact2{
    width: 100%;
    background-color: #00B900;
    color: #fff;
    padding: 30px;
    border-radius: 5px;
}
.contact3{
    width: 100%;
    background-color: rgb(196, 67, 117);
    color: #fff;
    padding: 30px;
    border-radius: 5px;
}
.contact4{
    width: 100%;
    background-color: rgb(218, 136, 44);
    color: #fff;
    padding: 30px;
    border-radius: 5px;
}
.btnlogin{
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  border: none;
}
.input-login input{
  border: none;
  border-bottom: 2px solid #f96c00;
  border-radius: 0px;
}
.box-login-mb{
  margin-bottom: 80px;
}
.btnlogin{
  width: 100%;
  background-color: #f96c00;
  border-radius: 5px;
  border: none;
}

</style>