<template>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom text-white">
        <div class="container">
            
            <router-link :to="{name:'login'}">
            <a class="navbar-brand" href="#">
                <img src="images/logo-w.png" width="55" alt="">
            </a>
            </router-link>

            <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-white" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-item nav-link float-right" href="#register">ลงทะเบียนใช้งาน <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link float-right" href="#manual">คู่มือการใช้งาน</a>
                <a class="nav-item nav-link float-right" href="#price">ราคา</a>
                <a class="nav-item nav-link float-right" href="#about">เกี่ยวกับ</a>
                <a class="nav-item nav-link float-right" href="#contact">ติดต่อเรา</a>
                
                </div>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="logo text-center">
            <img src="images/logo.png" alt="" width="120">
        </div>
        
        <h3 class="title text-center mt-3">เริ่มต้นการใช้งานกับเรา</h3>

        <div id="register">
            <div class="get-box shadow mt-4">
                <h5 class="text-orange">ลงทะเบียนใช้งาน</h5><hr>
                <p style="font-size:20px;font-weight: 600;" class="mt-1" >
                    เริ่มต้นลงทะเบียนใช้งาน
                    <router-link :to="{ name: 'createnewtemplate' }" class=" ml-1" style="font-weight: 600;">
                    {{ 'คลิกที่นี่' }}
                    </router-link>
                </p>
            </div>     
        </div>

        <div id="manual">
            <div class="get-box shadow mt-4">
                <h5 class="text-orange">คู่มือการใช้งาน</h5><hr>
                <button class="btn btn-info">
                    <i class="fa fa-download" aria-hidden="true"></i> <a href="/files/shubaservice_manual.pdf" class="a-white" download> ดาวน์โหลด "คู่มือการใช้งานเบื้องต้น" .pdf</a>
                </button>
            </div>     
        </div>

        <div id="price">
            <div class="get-box shadow mt-4">

                <h5 class="text-orange">ราคาและแพ็คเกจ</h5><hr>

                <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">.Starter 👍</th>
                    <th scope="col">.Professional 🌟</th>
                    <th scope="col">.Exclusive 👑</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">⭐ PRICE</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                    <tr>
                    <th scope="row"></th>
                    <td>฿ 1,700 / เดือน</td>
                    <td>฿ 2,500 / เดือน</td>
                    <td>฿ 2,700 / เดือน</td>
                    </tr>
                    <tr>
                    <th scope="row">⭐ PLAN LIMITATION</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                    <tr>
                    <th scope="row" class="table-sub">Menu Product </th>
                    <td>150</td>
                    <td>200</td>
                    <td>300</td>
                    </tr>
                    <tr>
                    <th scope="row">⭐ FEATURE</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                    <tr>
                    <th scope="row" class="table-sub">Menu Product</th>
                    <td>✅</td>
                    <td>✅</td>
                    <td>✅</td>
                    </tr>
                    <tr>
                    <th scope="row" class="table-sub">Table Management</th>
                    <td>✅</td>
                    <td>✅</td>
                    <td>✅</td>
                    </tr>
                    <tr>
                    <th scope="row" class="table-sub">Product Management</th>
                    <td>✅</td>
                    <td>✅</td>
                    <td>✅</td>
                    </tr>
                    <tr>
                    <th scope="row" class="table-sub">Stock control</th>
                    <td>✅</td>
                    <td>✅</td>
                    <td>✅</td>
                    </tr>
                    <tr>
                    <th scope="row">⭐ CUSTOMER FUNCTION</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                    <tr>
                    <th scope="row" class="table-sub">Customer Profile</th>
                    <td>✅</td>
                    <td>✅</td>
                    <td>✅</td>
                    </tr>
                    <tr>
                    <th scope="row" class="table-sub">Online Men</th>
                    <td>✅</td>
                    <td>✅</td>
                    <td>✅</td>
                    </tr>
                    <tr>
                    <th scope="row" class="table-sub">Mobile Ordering</th>
                    <td>✅</td>
                    <td>✅</td>
                    <td>✅</td>
                    </tr>
                    <tr>
                    <th scope="row">⭐ SUPPORT</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                    <tr>
                    <th scope="row" class="table-sub">Line@Support</th>
                    <td>✅</td>
                    <td>✅</td>
                    <td>✅</td>
                    </tr>
                    <tr>
                    <th scope="row" class="table-sub">On-time Support</th>
                    <td>✅</td>
                    <td>✅</td>
                    <td>✅</td>
                    </tr>

                </tbody>
                </table>
            </div>     
        </div>

        <div id="about">
            <div class="get-box shadow mt-4" style="font-weight: 600;font-size:18px">
                <h5 class="text-orange">เกี่ยวกับเรา</h5><hr>
                <p>โปรแกรม POS (Point of sale)</p>
                <p>เพื่อการจัดการระบบร้านอาหารประเภทชาบูให้เป็นระเบียบ เพิ่มประสิทธิภาพร้าน</p>
                <p>ลดการทํางานผิดพลาดจากความไม่ตั้งใจได้มากขึ้น ทําให้ผู้บริหารมั่นใจในคุณภาพได้มากขึ้น</p>
            </div>   
        </div>

        <div id="contact">
            <div class="get-box shadow mt-4">
                <h5 class="text-orange">ติดต่อเรา</h5><hr>

                <div class="row">
                    <div class="col col-6">
                        <div class="contact1 shadow mt-3">
                            <h5>Facebook</h5> 
                            <hr>
                            <a href="" style="color:#fff;">https://www.facebook.com/shubaservice</a>
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="contact2 shadow mt-3">
                            <h5>Line</h5> 
                            <hr>
                            <a href="" style="color:#fff;">@shubaservice</a>
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="contact3 shadow mt-3">
                            <h5>E-mail</h5> 
                            <hr>
                            <a href="" style="color:#fff;">support@shubaservice.com</a>
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="contact4 shadow mt-3">
                            <h5>Telephone</h5> 
                            <hr>
                            <a href="" style="color:#fff;">087-247-6582</a> /
                            <a href="" style="color:#fff;">089-725-6824</a>
                        </div>
                    </div>
                    
                </div>
            </div>     
        </div>
    </div>
</div>

</template>

<script>
</script>

<style scoped>
html {
  scroll-behavior: smooth;
 }
.bg-light{
 background-color: #f96c00 !important;
 border: none;
}
.title{
    font-weight: 600;
}
.get-box{
    margin-top: 35px;
    width: 100%;
    padding: 30px;
    border-radius: 5px;
    /* height: 500px; */
}
.imglogo img{
    text-align: center;
    margin: auto;
}
.navbar-nav a{
    color: #fff !important;
}
.text-orange{
    color: #f96c00;
}
.table-sub{
    font-weight: 400;
}
.contact1{
    width: 100%;
    background-color: #4267B2;
    color: #fff;
    padding: 30px;
    border-radius: 5px;
}
.contact2{
    width: 100%;
    background-color: #00B900;
    color: #fff;
    padding: 30px;
    border-radius: 5px;
}
.contact3{
    width: 100%;
    background-color: rgb(196, 67, 117);
    color: #fff;
    padding: 30px;
    border-radius: 5px;
}
.contact4{
    width: 100%;
    background-color: rgb(218, 136, 44);
    color: #fff;
    padding: 30px;
    border-radius: 5px;
}

</style>