<template>
<div class="container">

  <div class="text-center mt-fixed">
      <img src="images/logo.png" alt="" width="120">
  </div>

  <div class="profile-user w-square-bg shadow mt-5 pb-5" v-if="user">
    
      <div class="img-user float-left ml-1">
        <img src="https://peoplepill.com/media/people/thumbs/I/iu.jpg" alt="" width="50" height="50">
      </div>
      <div class="float-left ml-3">
        <div class="username">{{user.first_name}}</div>
        <!-- <div class="userpoint">คะแนนสะสม: 23 แต้ม</div> -->
      </div>
      <button class="btn-orange-o float-right mt-1" @click="logout()"><i class="fa fa-sign-out " aria-hidden="true"></i></button>
    
  </div>

  <div class="row">
    <div class="col-md-6" v-if="home.foodBill">
      <div class="w-square-bg shadow mt-1">
        <div class="title-orange">ข้อมูลการใช้บริการ</div>
        <div class="user-status-now text-center">โต๊ะ : {{home.table.id}} | แพ็คเกจ : {{home.foodBill.package.price}} บาท | จำนวน : {{home.foodBill.people}} ท่าน</div>
      </div>
    </div>

    <div class="col-md-6" v-if="home.foodBill">
    <div class="w-square-bg shadow mt-1">
      <div class="title-orange">สถานะการใช้บริการ</div>
      <div class="text-center">เวลาเริ่มต้น : {{moment(home.foodBill.created_at).format('DD/MM/YYYY HH:MM:SS')}}</div>
    </div>
    </div>
  </div>
  

  <h4 class="mt-4 clearfix text-center mb-3 text-orange">โปรโมชัน</h4>


  <div class="row mt-2">
    
      <!-- <div class="col col-lg-3 col-md-6 col-6 w-square-promotion" v-for="(promotion, index) in promotions" :key="index" >
        {{promotion.name}}
        <img :src="promotion.img_url" class="w-100" height="130">
      </div> -->

      <div class="col col-lg-3 col-md-6 col-6" v-for="(promotion, index) in promotions" :key="index" >
        <div class="w-square-promotion shadow">
          <div>
            <img :src="promotion.img_url" class="w-100 heightfix">
          </div>
          <div class="text-center">
            {{promotion.name}}
          </div>
        </div>
      </div>
  </div>

  
  <div class="pb5"></div>

</div>
  
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import axios from 'axios'
import moment from 'moment'
export default {
  middleware: 'auth',
  metaInfo () {
    return { title: 'home' }
  },
  data() {
    return {
      branchActive: 1,
      home:[]
    }
  },
    computed: {
    ...mapGetters({
       promotions: 'promotion/promotions'
    }),
    id(){
      return parseInt(this.$route.params.id)
    },
    qrcode() {
      try {
        return this.$route.query.qrcode;
      } catch (error) {
        return ''
      }
    }
  },
  methods: {
    moment: function () {
    return moment();
  },
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: 'login' })
    },
    ...mapActions({
      fetchPromotion: 'promotion/fetch'
    }),
  },
  async created(){
    this.fetchPromotion()
    console.log("thispromotion")
    const {data} = await axios.get(`/api/home?qrcode=${this.qrcode}`)
    this.home = data
  }
}
</script>

<style scoped>
body{
  background-color: transparent !important;
}
img{
  object-fit: cover;
}
.pb5{
  padding-bottom: 160px;
}
.heightfix{
  height: 130px !important;
}
.mt-fixed{
  margin-top: -10px;
  margin-bottom: -20px;
}
.btn-orange-o{
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: #fff;
  color: #f96c00;
  border-radius: 5px;
}
.username{
  margin-top: 12px;
}
</style>
