<template>
<div class="container">

  <div class="logo text-center">
    <img src="images/logo.png" alt="" width="250">
  </div>

 
  <div class="row">
    <div class="col-lg-4 m-auto">

      <h5 class="text-center mb-2">กรุณาสร้างรหัสผ่านใหม่</h5>
      <h6 class="text-center mb-5">อีเมลของคุณคือ : </h6>

      <form @submit.prevent="newPasword" @keydown="form.onKeydown($event)">
      <div class="box-login">
        <h6>รหัสผ่านใหม่ :</h6>
        <div class="input-login mb-3">
            <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" class="form-control" type="password" name="email">
            <has-error :form="form" field="password" />
        </div>
      </div>

      <div class="box-login mb-5">
        <h6>ยืนยันรหัสผ่านใหม่ :</h6>
        <div class="input-login mb-3">
              <input v-model="form.confirm_password" :class="{ 'is-invalid': form.errors.has('password') }" class="form-control" type="password" name="password">
              <has-error :form="form" field="password" />
        </div>
      </div>
      <hr>
  {{!checkPass?'รหัสผ่านไม่ตรงกัน':'รหัสผ่านเข้ากันได้'}}

      <div class="btnlogin">
        <v-button :loading="form.busy" class="btnlogin">
            {{ 'ยืนยันการสร้างรหัสผ่านใหม่' }}
        </v-button>
      </div>

      </form>
      
    </div>
  </div>
</div>
</template>

<script>
import Form from 'vform'
import LoginWithGithub from '~/components/LoginWithGithub'

export default {
  middleware: 'auth',

  components: {
    LoginWithGithub
  },

  metaInfo () {
    return { title: 'login' }
  },

  data: () => ({
    form: new Form({
      confirm_password: '',
      password: ''
    }),
    remember: false
  }),
computed:{
   checkPass(){
      return this.form.confirm_password == this.form.password
    },
},
  methods: {
 
    async newPasword () {

      if(!this.checkPass){
        alert('รหัสผ่านไม่ตรงกัน')
        return false
      }else{
   // Submit the form.
      const { data } = await this.form.post('/api/newpassword')

      // Fetch the user.
      await this.$store.dispatch('auth/fetchUser')

      // Redirect home.
      this.$router.push({ name: 'home' })
      }
   
    }
  }
}
</script>

<style scoped>
body {
  background-color: #fff !important;
}

.logo{
  margin-bottom: 30px;
  margin-top: 100px;
}
.btnlogin{
  width: 100%;
  background-color: #f96c00;
  border-radius: 5px;
  border: none;
}
.btnlogin2{
  width: 100%;
  background-color: #4267B2;
  border-radius: 5px;
  border: none;
}
.input-login input{
  border: none;
  border-bottom: 2px solid #f96c00;
  border-radius: 0px;
  
}
.text-orange{
  color: #f96c00;
}
.box-login-mb{
  margin-bottom: 80px;
}
.btnregister{
  text-align: center;

}
</style>