<template>
  <div>
    <div class="top-right links">
      <template v-if="authenticated">
        <router-link :to="{ name: 'home' }">
          {{"home"}}
        </router-link>
      </template>
      <template v-else>
        <router-link :to="{ name: 'login' }">
          {{'log in'}}
        </router-link>
        <router-link :to="{ name: 'register' }">
          {{'register'}}
        </router-link>
      </template>
    </div>

    <div class="text-center">
      <img src="images/logo.png" alt="" width="300">
    </div>
    <div class="text-center mt-5">
        <router-link :to="{ name: 'getting-started' }" class="gts">
          {{ 'เริ่มต้นใช้งาน' }}
        </router-link>
        <router-link :to="{ name: 'createnewtemplate' }" class=" ml-3 gts">
          {{ 'สมัครเลย' }}
        </router-link>
    </div>
    
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  layout: 'basic',

  metaInfo () {
    return { title: 'home' }
  },

  data: () => ({
    title: window.config.appName
  }),

  computed: mapGetters({
    authenticated: 'auth/check'
  })
}
</script>

<style scoped>
html,body{
  overflow: hidden !important ;
}
.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.title {
  font-size: 85px;
}

.gts{
  color: #f96c00c5;
  font-size: 20px;
  text-decoration: none;
  font-weight: 300;
  padding: 10px;
  border: 1px solid #f96c00c2;
  border-radius: 5px;
}
</style>
