<template>    
    <div class="card bg-c order-card p-2">
        <div class="card-block">
            <h5 class="m-b-20 text-right">{{ title }}</h5>
            <hr style="color:#fff;background:#fff;">
            <h2 class="text-right"><span>{{ amount }}</span></h2>
        </div>
    </div>      
</template>
<script>
export default {
  name: "card",
  props: [
    'title',
    'amount',
  ]
};
</script>
<style scoped>
.order-card {
    color: #fff;
}
.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.bg-c {
    background: linear-gradient(45deg,#ff6426,#ff892e);
}
.order-card i {
    font-size: 26px;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
</style>
