<template>

  <div class="menubar" v-if="user">
    <ul class="">
      <li v-for="(menu, index) in menus" :key="index">
          <router-link :to="{name:menu.to, query: {qrcode:menu.query ? qrcode:''}}" v-if="checxk(menu)">
            <i :class="`fa-${menu.icon}`" class="fa"></i> <span v-if="lg">{{menu.name}}</span>
          </router-link>
   
      </li>
      <li>
               <router-link to="/superadmin" v-if="user?user.role.name =='superadmin':false">
            <i :class="`fa-user`" class="fa"></i> <span v-if="lg">จัดการตั้งค่า</span>
          </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  computed:{
    ...mapGetters({
      qrcode:'order/qrcode'
    })
  },
  methods:{
    checxk(menu){
      let status = true
        if(menu.admin){
        status = this.checkAdmin
      }
      if(menu.employee){
        status = this.checkEmployer
      }

return status
    }
  },
  data() {
    return {
      menus: [
        {
          icon:'home',
          to:'home',
          name:'หน้าแรก',
          query:true

        },
        {
          icon:'clipboard',
          to:'order',
          name:'สั่งออเดอร์',
          query:true,

        },
        // {
        //   icon:'bell',
        //   to:'order.list',
        //   name:'order.list'
        // },
        {
          icon:'thumb-tack',
          to:'table',
          name:'จัดการที่นั่ง',
          admin: true,
          employee: true
        },
        {
          icon:'cogs',
          to:'admin',
          name:'แอดมิน',
          admin: true
        },
      ]
    }
  },
}
</script>

<style lang="scss" scoped>
  
  $black:#2d2d2d;

  .router-link-exact-active.router-link-active{
    color: #f96400;
  }
  .menubar{
    padding: 10px 48px;
    margin: 0 auto;
    width: 100%;
    background-color: $black;
    position:fixed;
    bottom: 0;
    font-size: 22px;
    ul{
      list-style: none;
      li{
        text-align: center;
        float: left;
        padding-right: 20px;
        a{
          color: #fff;
        }
      }
    }
  }
</style>