<template>
  <div class="bdr">
    <div class="container" v-if="table">
      <!-- {{table}} -->
      <!-- {{apackages}} -->
      <!-- {{promotions}} -->

      <!-- <button @click="triggerShow()">show</button> -->

      <!-- <showTabjaa :datax="booms"/>

    <button @click="setTabActive(index)" v-for="(boom, index) in booms" :key="index">{{boom.name}}</button>

      <showTabjaa :datax="booms2"/>-->

      <!-- <div v-if="showEiei">
      eiei
      </div>-->
      <!-- <hr>
      {{id}}-->
      <router-link to="/tables">
        <i class="fa fa-arrow-left arl"></i>
      </router-link>

      <h3 class="tablenumber text-center">{{table.name}}</h3>

      <div class="bg-color">
        <h5 class="text-center color pt-3 pb-3">เลือกแพ็คเกจ</h5>
        <div class="row">
          <div class="col col-6" v-for="(apackage, index) in apackages" :key="index">
            <button
              @click="setPackage(apackage.id)"
              :class="form.package_id == apackage.id ? 'btn btn-warning btn-ooo':'btn btn-light shadow'"
            >{{apackage.price}}</button>
          </div>
        </div>
        <br />

        <h5 class="text-center color mt-4">จำนวนที่นั่ง</h5>
        <div class="seats clearfix mt-4">
          <button class="float-left m" @click="seatsMinus()">-</button>
          <div class="float-left num shadow rounded">{{seats}}</div>
          <button class="float-left p" @click="seatsPlus()">+</button>
        </div>
        <br />

        <h5 class="text-center color mt-5 clearfix">รายการพิเศษ</h5>
        <div class="container">
          <div class="row">
            <div class="col-12 spec shadow">
              <h6 class="float-left">น้ำรีฟิล + 39.-</h6>
              <div class="seats2 clearfix float-right">
                <button class="float-left m2" @click="refilldrinkMinus()">-</button>
                <div class="float-left num2 shadow">{{refilldrink}}</div>
                <button class="float-left p2" @click="refilldrinkPlus()">+</button>
              </div>
            </div>
            <div class="col-12 spec shadow mt-3">
              <h6 class="float-left">เบียร์รีฟิล + 129.-</h6>
              <div class="seats2 clearfix float-right">
                <button class="float-left m2" @click="refillbeerMinus()">-</button>
                <div class="float-left num2 shadow">{{refillbeer}}</div>
                <button class="float-left p2" @click="refillbeerPlus()">+</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form @submit.prevent="createBill" @keydown="form.onKeydown($event)">
      <v-button class="btn-float pt-1 pb-1" :loading="form.busy">ยืนยันการทำรายการ</v-button>
    </form>
    <b-modal v-model="modalShow" hide-footer title="กรุณาสแกนที่ QR CODE เพื่อสั่งอาหาร">
      
      <img :src="qrcode" width="100%" />
      <a href="/tables"><button class="btn btn-primary">กลับหน้าจัดการที่นั่ง</button></a>
    </b-modal>
    <!-- <button ></button> -->
  </div>
</template>

<script>
import Form from "vform";
import { mapActions, mapGetters } from "vuex";
export default {
  
  data() {
    return {
      form: new Form({
        table_id: "",
        people: "",
        package_id: ""
      }),
      modalShow: false,
      seats: 1,
      refilldrink: 0,
      refillbeer: 0,
      showEiei: false,
      tabActive: 0,
      qrcode: ""
    };
  },
  computed: {
    ...mapGetters({
      table: "table/show",
      apackages: "package/packages",
      promotions: "promotion/promotions"
    }),
    id() {
      return parseInt(this.$route.params.id);
    }
  },
  methods: {
    ...mapActions({
      fetch: "table/show",
      fetchPackage: "package/fetch",
      fetchPromotion: "promotion/fetch"
    }),
    async createBill() {
      this.form.table_id = this.id;
      this.form.people = this.seats;

      const { data } = await this.form.post("/api/bills");
      if (data) {
        this.qrcode = data;
        this.modalShow = true;
      }

      console.log(data);
    },
    setPackage(id) {
      this.form.package_id = id;
    },
    setTabActive(n) {
      this.tabActive = n;
    },
    triggerShow() {
      this.showEiei = !this.showEiei;
    },
    seatsPlus() {
      this.seats++;
    },
    seatsMinus() {
      if (this.seats > 1) {
        this.seats--;
      }
    },
    refilldrinkPlus() {
      this.refilldrink++;
    },
    refillbeerPlus() {
      this.refillbeer++;
    },
    refilldrinkMinus() {
      if (this.refilldrink > 0) {
        this.refilldrink--;
      }
    },
    refillbeerMinus() {
      if (this.refillbeer > 0) {
        this.refillbeer--;
      }
    }
  },
  created() {
    this.fetch(this.id);
    this.fetchPackage();
    this.fetchPromotion();
    this.$refs["qr-modal"].show();
  }
};
</script>

<style scoped>
.btn-ooo{
  width: 100%;
  text-align: center;
  background-color: #f96c00;
  color: #fff;
}
.color {
  color: #f96c00;
}
.price {
  padding: 5px;
  text-align: center;
}
.seats {
  width: 192px;
  margin: 0 auto;
}
.seats2 {
  width: 120px;
  margin: right;
}
.m2,
.p2 {
  width: 40px;
  height: 40px;
}
.num {
  width: 64px;
  height: 64px;
  padding: 5px;
  border-radius: 50px !important;
  text-align: center;
  font-size: 36px;
}
.num2 {
  width: 40px;
  height: 40px;
  padding: 3px;
  border-radius: 50px;
  text-align: center;
  font-size: 24px;
}
/* .bg-color{
    width: 100%;
    background: #fff;
  } */
.spec {
  width: 100%;
  background-color: white;
  padding: 15px;
  margin-top: 5px;
}
.spec h6 {
  margin-top: 11px;
}
.btn-light {
  width: 100%;
  color: #0d0d0d;
  background-color: #fff;
  border-color: #fff;
  margin-bottom: 10px;
}
.btn-light:hover {
  color: #fff;
  background-color: #f96c00;
}
.btn-light:active {
  color: #fff;
  background-color: #f96c00;
}
.bg-color {
  background-color: white;
}
.arl{
  color: #f96c00;
  position: absolute;
  margin-top: 10px;
}
</style>
