<template>
  <div class="container">

    <div class="row">
      <div class="col-7">
        <h4 class="float-left">จัดการที่นั่ง</h4>
      </div>
      <div class="col-5">
        <select v-model="branchActive" @change="fetch(branchActive)" class="float-right">
          <option :value="branch.id" v-for="(branch, index) in branchs" :key="index">{{branch.name}}</option>
        </select>
      </div>
    </div>
   
   <!-- table -->
   <hr>
   <!-- {{kkk}} -->

   
   <p class="text-orange"><i class="fa fa-circle"></i> ใช้งานอยู่</p>
   <div class="card p-4 mb-4" v-for="(table, index) in getTable(1)" :key="index" :class="!table.qrcode ? '':'bg-orange-o'">
      <div>
          
          <div class="float-left">
            <b-button class="title-table btn-table">{{table.name}}</b-button>
          </div>
          <div class="float-right">
            <b-button v-b-modal="`show-qr-${table.id}`" class="btn-table-active"><i class="fa fa-edit "></i></b-button>
          </div>
      
        
        
          <b-modal :id="`show-qr-${table.id}`" :title="`${table.name}`" hide-footer>
            <div class="text-center mb-2 w80per">
            <img :src="table.qrcode_url" alt="" width="100%">
            <br>
            <hr>
            <h5 class="mt-3">แพ็คเกจ : {{table.price.price}}</h5>
            <h5>จำนวนคน : {{table.price.people}}</h5>
            <h4>รวมทั้งสิ้น : {{table.price.sum}} บาท</h4>
            <hr>
            
            <br>
            <div class="row ">
              <div class="col col-6">
                <a :href="`/orders?qrcode=${table.qrcode}`" target="_blank" class="btn btn-orange mt-3">สั่งออเดอร์</a>
              </div>
              <div class="col col-6">
                <button class="btn btn-orange-o mt-3" @click="checkBill(table.id)">จัดการบิล</button>
              </div>
            </div>
            </div>
          </b-modal>
      </div>

    </div>
    <p class="text-orange"><i class="fa fa-circle-o"></i> ว่าง</p>
    <div class="card p-4 mb-4" v-for="(table, index) in getTable(0)" :key="index" :class="!table.qrcode ? '':'bg-orange-o'">
      
      <div class="" >
        {{table.qrcode}}
      <div class="float-left">
        <router-link :to="`/tables/${table.id}`"><b-button class="title-table btn-table">{{table.name}}</b-button></router-link>
      </div>
      <div class="float-right">
        <router-link :to="`/tables/${table.id}`"><b-button class="btn-table"><i class="fa fa-plus"></i></b-button></router-link>
      </div>
      </div>

     

    </div>

    
    

  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import axios from 'axios'
export default {
  data() {
    return {
      branchActive: 1
    }
  },
  computed: {
    ...mapGetters({
      tables:'table/tables',
      branchs:'branch/branchs',
    }),
   
  },
  methods: {
    ...mapActions({
      fetch:'table/fetch',
      fetchBranch:'branch/fetch'
    }),
     getTable(status = 0){
      var tables = []
      if(status ==0){
        tables = this.tables.filter(el=> !el.qrcode)
      }else{
        tables = this.tables.filter(el=> el.qrcode)
      }

      return tables;
    },
    async checkBill(table_id) {
       var txt;
        var r = confirm("ยืนยันการชำระเงิน!");
        if (r == true) {
          await axios.post(`/api/checkbill/${table_id}`)
          this.fetch()
          txt = "ยืนยันการชำระเงิน";

          this.tables.forEach(table => {
            this.$refs[`show-qr-${table.id}`].hide()
          });

        } else {
          txt = "ยกเลิก";
        }
      
    }
},
async created() {
  this.fetch(this.user.branch_id)
   await this.fetchBranch()
   this.branchActive = this.branchs[0].id
},
}
</script>

<style scoped>
.w80per{
  width: 80%;
  margin-left: 10%;
}
.title-table{
  width: 100%;
  text-align: left;
}
.btn-orange{
  width: 100%;
  padding: 5px;
  background-color: #f96c00;
  color: #fff;
  border-radius: 5px;
}
.btn-orange-o{
  width: 100%;
  padding: 5px;
  background-color: #fff;
  color: #f96c00;
  border: 1px solid #f96c00;
  border-radius: 5px;
}
.bg-orange-o{

  padding: 5px;
  background-color: #fff;
  color: #f96c00;
  border: 2px solid #f96c00;
  border-radius: 5px;
}
.btn-table{
  width: 100%;
  color: #f96c00;
  background-color: transparent !important;
  border-color: transparent !important;
}
.btn-table-active{
  width: 100%;
  color: #fff;
  background-color: #f96c00 !important;
  border-color: #f96c00 !important;
}
</style>