<template>
  <div class="container">
    <div v-if="!lists.length">คุณยังไม่ได้สั่งรายการอาหาร</div>
    <div class="confirm-list clearfix" v-for="(food, index) in lists" :key="index" v-else>
      <div class="float-left" style="font-size:18px;">
       
        <img :src="food.img_url" width="50" height="50" />
        {{food.name}}
      </div>
        <b-button class="btn float-right btn-danger" @click="$emit('removeList', food.id)" type="button">
          ลบ
        </b-button>
      <div class="float-right mr-2" style="font-size:18px;margin-top:8px">x {{food.input}}</div>
    </div>

    <br />

    <button class="btn btn-orange" :disabled="!lists.length" @click="addToBill()">รายการอาหารถูกต้อง</button>
  </div>
</template>

<script>
import axios from "axios";
export default {
  props: ["lists"],
  methods: {
    async addToBill() {
      const { data } = await axios.post("/api/food_bills", {
        lists: this.lists
      })
      if(data){
        location.reload();
      }
      ;
      console.log(data);
    }
  }
};
</script>

<style scoped>
.btn-orange{
  background-color: #f96c00;
  color: #fff;
}
</style>
