<template>
  <div class="container">
    
    <input type="text" v-model="form.name">
    <input type="text" v-model="form.img_url">
    <button @click="add()">add</button>
    
    <div class="categories">
      <button v-for="(order, index) in orders" :key="index" @click="setCatActive(order.id)">{{order.name}}</button>
    </div>

    <pre>
      {{categoriesSelected(orders)}}
    </pre>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import axios from 'axios'
export default {
  data() {
    return {
      categoryActive: 1,
      form:{
        name:'',
        img_url:''
      }
    }
  },
  computed: {
    ...mapGetters({
      orders:'order/orders'
    })
  },
  methods: {
    ...mapActions({
      fetch:'order/fetch'
    }),
    add(){
      axios.post('/api/orders',this.form)
      this.fetch()
    },
    categoriesSelected(orders){
      const result = orders.filter((order) => {
        return order.id == this.categoryActive
      })
      return result
    },
    setCatActive(id){
      this.categoryActive = id
    }
  },
  created() {
    this.fetch()
  },
}
</script>

<style>

</style>