<template>
  <div v-if="showContent">
    <div class="container">
      <h4 class="text-center text-orange pb-3">{{tables.name}}</h4>
      <div class="categories">
        <b-button
          class="btn-light mb-3 bt-2 mr-2"
          v-for="(order, index) in orders"
          :key="index"
          @click="setCatActive(order.id)"
        >{{order.name}}</b-button>
      </div>
      <div v-for="order in categoriesSelected(orders)" :key="order.id">
        <div class="row">
          <div class="col-lg-3 col-6 mb-3" v-for="(food, index) in order.foods" :key="index">
            <b-card class="text-center">
              
              <order-card
                class="pb-2"
                :order="food"
                @showAdd="setShowAddActive"
                :showAdd="food.id == showAddActive"
                :index="index"
                @minus="minus"
                @plus="plus"
              />
              <div class="inputshow">
                {{food.input}}
              </div>
              
            </b-card>
          </div>
        </div>
      </div>
    </div>
 
    <b-button class="btn-float shadow" @click="goToConfirm()">ยืนยันการสั่ง</b-button>
    <b-modal ref="confirm-modal" hide-footer title="เมนูอาหาร" size="xl" scrollable>
      <order-confirm :lists="lists" @removeList="removeList" />
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import OrderCard from "~/components/order/Card";
import OrderConfirm from "./confirm";
import axios from "axios";

export default {
  components: {
    OrderCard,
    OrderConfirm
  },
  data() {
    return {
      categoryActive: 1,
      showAddActive: 0,
      lists: [],
      showContent: false,
      tables: []
    };
  },
  computed: {
    ...mapGetters({
      orders: "order/orders"
    }),
    qrcode() {
      return this.$route.query.qrcode;
    }
  },
  methods: {
    ...mapActions({
      fetch: "order/fetch",
      addList: "order/addList",
      setQR: "order/setQR"
    }),
    setShowAddActive(id) {
      this.showAddActive = id;
    },
    minus(index) {
      const id = element => element.id == this.categoryActive;
      let i = this.orders.findIndex(id);
      this.orders[i].foods[index].input--;
    },
    plus(index) {
      const id = element => element.id == this.categoryActive;
      let i = this.orders.findIndex(id);
      if (
        this.orders[i].foods[index].input >= this.orders[i].foods[index].max
      ) {
        alert(`จำนวนที่สั่งได้สูงสุดต่อรอบ : ${this.orders[i].foods[index].max}`);
      } else {
        this.orders[i].foods[index].input++;
      }
    },
    removeList(id) {
      this.orders.forEach(order => {
        order.foods.forEach(food => {
          if (food.id == id) {
            food.input = 0;
          }
        });
      });

      this.setList();

      // const id = (element) => element.id == this.categoryActive;
      // let i = this.orders.findIndex(id)
      // this.orders[i].foods[index].input = 0
    },
    categoriesSelected(orders) {
      const result = orders.filter(order => {
        return order.id == this.categoryActive;
      });
      return result;
    },
    setCatActive(id) {
      this.categoryActive = id;
    },
    setList() {
      let result = [];
      this.orders.forEach(order => {
        order.foods.forEach(food => {
          if (food.input > 0) {
            result.push(food);
          }
        });
      });

      this.lists = result;
    },
    goToConfirm() {
      this.setList();
      this.$refs["confirm-modal"].show();
    },
    async checkTableQrcode() {
      const { data } = await axios.get(
        `/api/tables/check_qrcode/${this.qrcode}`
      );
      if (!data) {
        alert("กรุณาติดต่อพนักงานเพื่อใช้หน้านี้");
        this.$router.push("/home");
      } else {
        this.showContent = true;
        this.tables = data;
      }
    }
  },
  created() {
    this.fetch();
    this.checkTableQrcode();
    this.setQR({ qrcode: this.qrcode });
  }
};
</script>

<style scoped>
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 0.5rem;
}
.col-6 {
  margin-bottom: 20px;
}
.inputshow{
  width: 32px;
  height: 32px;
  background-color: #f96c00;
  position: absolute;
  color: #fff;
  border-radius: 50%;
  top: 10px;
  right: 10px;
  font-size: 20px;
}
.btn-float {
  width: 80%;
  margin: 0 10%;
  height: 50px;
  position: fixed;
  bottom: 80px;
  color: #fff;
  background-color: #f96c00;
  border-color: #f96c00;
  font-size: 20px;
}
.btn-light {
  color: #f96c00;
  background-color: #fff;
  border-color: #f96c00;
}
.btn-light:hover {
  color: #fff;
  background-color: #f96c00;
}
.btn-light:active {
  color: #fff;
  background-color: #f96c00;
}
.card-body {
  padding: 0;
}
</style>
