<template>
<card title="Add Table">
  <div class="container p-5">
    <h2 class="mt-1">เพิ่มที่นั่ง</h2>
    <hr />
    <!-- {{form}} -->

    <form @submit.prevent="add">
      <div v-for="item in fileds" :key="item.id" :class="item.class ? item.class :''">
        <div class="form-group" v-if="item.type==1">
          <label>{{item.label ? item.label : item.name }} {{item.require?'*':''}}</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            v-model="form[`${item.name}`]"
            :required="item.require"
          />
        </div>
        
        <div class="form-group" v-if="item.type==2">
          <label>{{item.label ? item.label : item.name }} {{item.require?'*':''}}</label>
          <input
            type="number"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            v-model="form[`${item.name}`]"
            :required="item.require"
          />
        </div>
      </div>

  

      <div class="form-group">
        <div class>
          <!-- Submit Button -->
          <v-button :loading="form.busy">ยืนยัน</v-button>
        </div>
      </div>
    </form>
  </div>
</card>
</template>

<script>
import Form from "vform";
import { mapActions, mapGetters } from "vuex";

export default {
  methods: {

    async add() {
      const { data } = await this.form.post("/api/tables");
      if (data) {
        this.$router.push("/admin/edittable");
      }
    },
    async setFile(e) {
      // ถ้ามี upload image
      this.file = e.target.files[0];
      let d = await this.uploadFile({
        file: this.file,
        path: "imgs"
      });
      this.form.img_url = d;
    }
  },
 
  data() {
    return {
      form: new Form({
        category_id: 1,
      }),
      fileds: [
        // 1.string2.number3.textarea
        {
          name: "name",
          label: "ชื่อ",
          type: 1,
          require: true
          // class: "bg-danger"
        },
      ]
    };
  },
 async  created() {
  
  }
};
</script>

<style>
</style>
