<template>
<card title="Basic">
  <div class="">
    <h2>ปรับแต่งหน้าเว็บ</h2>
    
    <table ref="table" id="loremTable" summary="lorem ipsum sit amet" rules="groups" frame="hsides" hover class="table table-bordered">
      <tr>
        <th>หัวข้อ</th>
        <th>ข้อมูล</th>
        <!-- <th>ลบข้อมูล</th> -->
      </tr>
      <tr>
        <td>
            <div class="card card-body">
                <label for>Image Upload</label>
                <input type="file" class="form-control" multiple @change="setFile" />
                <img src="" alt="">
            </div>
        </td>
        <img src="" alt="">
      </tr>
      <tr>
        <td>Telephone
        </td>
        <td>089-725-6824</td>
      </tr>
      <tr>
        <td>Facebook
        </td>
        <td>https://www.facebook.com/shubaservice</td>
      </tr>
      <tr>
        <td>E-mail
        </td>
        <td>support@shubaservice.com</td>
      </tr>
      <tr>
        <td>Line
        </td>
        <td>@shubaservice</td>
      </tr>
      
    </table>

   <!-- <div class="card p-4 mb-4 outline-secondary" v-for="(order, index) in orders" :key="index" >
      {{order.name}}
   </div> -->

  
    
  </div>
</card>
</template>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  data(){
    return{
      uri :'data:application/vnd.ms-excel;base64,',
      template:'<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>',
      base64: function(s){ return window.btoa(unescape(encodeURIComponent(s))) },
      format: function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
    }
  },
 computed: {
      ...mapGetters({
          orders:'order/orders',
      })
  },
   methods: {
    ...mapActions({
      fetch:'order/fetch',
    }),
    tableToExcel(table, name){
      
      if (!table.nodeType) table = this.$refs.table
      var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
      window.location.href = this.uri + this.base64(this.format(this.template, ctx))
    },
    
  },
  created() {
    this.fetch()
  }
}
</script>

<style>

</style>