<template>
  <card title="Confirmorder">
    
      <h3 class="">จัดการายการอาหาร</h3>
      <h6 class="">รายการที่ยังไม่ได้ทำการจัดส่ง</h6>

      <div class="comfirm-box">
        <div class="confirmlist" v-for="(item, index) in food_bills" :key="index">
          <div class="cf-table-box">
            <div class="cf-img mr-2">
              <img :src="item.food.img_url" width="80"  style="border-radius: 5px;"/>
            </div> 
            <h4>#{{ item.bill.table.name }}</h4>
            <div class="row">
              <div class="float-left col-md-7">{{ item.food.name }} x{{ item.amount }}</div>
              <div class="float-left col-md-3 text-right">สั่งเมื่อ {{ item.timehuman }}</div>
              <div class="float-left col-md-2"><button class="btn-cf btn btn-outline-primary" style="width:100%" @click="confirmOrder(item.id)">เตรียมจัดส่ง</button></div>
            </div>
            <hr>
          </div>
        </div>
        <!-- 
        <b-button variant="outline-primary" @click="goToConfirm()"
          >ยืนยันการทำรายการ</b-button
        >
        <b-modal
          ref="confirm-modal"
          hide-footer
          title="เมนูอาหาร"
          size="xl"
          scrollable
          >sure?</b-modal
        > -->
      </div>
    
  </card>
</template>

<script>
import Swal from "sweetalert2";
import "sweetalert2/src/sweetalert2.scss";
import { mapActions, mapGetters } from "vuex";
import axios from "axios";
export default {
  computed: {
    ...mapGetters({
      food_bills: "foodbill/items"
    })
  },
  methods: {
    ...mapActions({
      fetch: "foodbill/fetch"
    }),
    goToConfirm() {
      // this.setList();
      this.$refs["confirm-modal"].show();
    },
    confirmOrder(id) {
      Swal.fire({
        title: "ยืนยันการส่งออเดอร์",
        text: "เมื่อกดยืนยันจะระบบจะทำการตัดสต็อกสินค้า",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "ยืนยัน"
      }).then(async result => {
        if (result.value) {
          const { data } = await axios.post(`/api/food_bill/${id}/check`);
          this.fetch();
          console.log(data);
        }
      });
    }
  },
  created() {
    this.fetch();
  }
};
</script>

<style>
.comfirm-box {
  width: 100%;
  height: 500px;
  background-color: white;
}
.confirmlist {
  clear: both;
  padding: 25px;
}
.cf-img{
  float: left;
  border-radius: 5px;
}
.btn-cf{
  margin-top: -5px;
}
</style>
