<template>
  <card title="Dashboard" class="dash-height dash-card-header">

    <div style="font-size:48px;">
    {{clock}}
    </div>
    <div class="p-2">
      <div class="row">
        <div class="col-md-3 mb-5">
          <DashboardCard title="รายได้วันนี้" :amount="`${dashbords.today_sum} บาท`" class="shadow"/>
        </div>
        <div class="col-md-3 mb-5">
          <DashboardCard title="จำนวนลูกค้า" :amount="`${dashbords.today_people} ท่าน`" class="shadow"/>
        </div>
        <div class="col-md-3 mb-5">
          <DashboardCard title="จำนวนโต๊ะที่เปิดอยู่" :amount="`${dashbords.table_active} โต๊ะ`" class="shadow"/>
        </div>
        <div class="col-md-3 mb-5" v-if="dashbords.popfood.amount">
          <DashboardCard title="รายการอาหารที่ถูกสั่งมากที่สุด" :amount="`${dashbords.popfood.food.name} ${dashbords.popfood.amount} ถาด`" class="shadow"/>
        </div>
        
      </div>
    </div>

    <h2 class="float-left mb-2">ตารางรายการอาหาร</h2>
    <download-excel class="exload float-right"
    
    	:fields = "json_fields"
      :name    = "`รายการสินค้าที่เตรียมการ_${today()}.xls`"
      :data  = "itemexport">

    <i class="fa fa-download text-orange mb-2" aria-hidden="true"></i> Download Data
    </download-excel>

    <table ref="table" id="loremTable" summary="lorem ipsum sit amet" rules="groups" frame="hsides" hover class="table table-bordered">
      <tr>
        <th>ชื่อ</th>
        <th>จำนวนคงเหลือ</th>
      </tr>
      <tr  v-for="(foods, index) in items" v-if="foods.unit<100">
        <td>{{foods.name}}</td>
        <td>{{foods.unit}}</td>
      </tr>
    </table>

  </card>
</template>

<script>
import Form from 'vform'
import DashboardCard from '~/components/DashboardCard'
import { mapActions, mapGetters } from 'vuex'
import JsonExcel from 'vue-json-excel'
import moment from 'moment'
export default {
  middleware: 'admin',
  components : {DashboardCard,downloadExcel:JsonExcel},
  scrollToTop: false,
  test:'รายได้วันนี้',
  metaInfo () {
    return { title: 'settings' }
  },

  data: () => ({
    form: new Form({
      password: '',
      password_confirmation: ''
    }),
    clock:'',
    itemexport:[],
       json_fields: {
            'id': 'id',
            'ชื่อ': 'name',
            'คงเหลือ': 'unit',
            'ต้องการเติม' : {
                field: 'unit',
                callback: (value) => {
                    return 100-value;
                }
            },
            '' : {
                field: 'unit',
                callback: (value) => {
                    return '';
                }
            },
            'รายได้วันนี้':'today_sum',
            'จำนวนลูกค้า':'today_people',
            'จำนวนโต๊ะที่เปิดอยู่':'table_active',
            'รายการอาหารที่ถูกสั่งมากที่สุด':'popfood'
        },
  }),
  computed: {
      ...mapGetters({
       items: "foods/items",
       dashbords: "dashbord/dashbords",
      })
  },
  methods: {
    ...mapActions({
       fetch: "foods/fetch",
       fetchD: "dashbord/fetch",
    }),
    today(){
      return moment().format('YYYY/MM/DD HH:mm:ss')
    },
    setClock(){
     setTimeout(function () {
       this.clock =  moment().format('YYYY/MM/DD HH:mm:ss')
        this.setClock();
    }, 1000);
    },
    async update () {
      await this.form.patch('/api/settings/password')

      this.form.reset()
    }
  },
  async created() {
    setInterval(() => {
       this.clock =  moment().format('YYYY/MM/DD HH:mm:ss')
    }, 1000)
    await this.fetch()
    await this.fetchD()

    this.itemexport = this.items


    this.itemexport[0].today_sum = this.dashbords.today_sum
    this.itemexport[0].today_people = this.dashbords.today_people
    this.itemexport[0].table_active = this.dashbords.table_active
    this.itemexport[0].popfood = this.dashbords.popfood.amount ? `${this.dashbords.popfood.food.name} ${this.dashbords.popfood.amount}`:'-'

  }
  
}
</script>

<style scoped>
.card-header:first-child{
  
}
.exload{
  float: right;
  border: 1px solid #f96c00;
  border-radius: 5px;
  padding: 5px;
  color: #f96c00;
  cursor: pointer;
}
.dash-box{
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}
.dash-big-box{
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}
.dash-box2{
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}
.dash-box3{
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}
.dash-height{
  min-height: 1050px;
  padding-bottom: 100px;
}
.card-header{
  background-color:#F4F3EF !important;
  color: #fff;
}
.dash-card-header{
  border: none;
  background-color : #Fff  !important; 
}
</style>