<template>
<card title="Edit Table">
  <div class="container">
    <h2>แก้ไขรายการที่นั่ง</h2>
    <!-- <button @click="tableToExcel('table', 'Lorem Table')">export </button> -->
    <table ref="table" id="loremTable" summary="lorem ipsum sit amet" rules="groups" frame="hsides" hover class="table table-bordered">
      <tr>
        <th>ไอดี</th>
        <th>ชื่อ</th>
        <th>แก้ไขข้อมูล</th>
        <!-- <th>ลบข้อมูล</th> -->
      </tr>
      <tr  v-for="(order, index) in orders" :key="index">
        <td>{{order.id}}</td>
        <td>{{order.name}}</td>
        <td><button class="btn btn-success">แก้ไข</button></td>
        <!-- <td><button class="btn btn-danger">ลบ</button></td> -->
      </tr>
      
    </table>

   <!-- <div class="card p-4 mb-4 outline-secondary" v-for="(order, index) in orders" :key="index" >
      {{order.name}}
   </div> -->

  
    
  </div>
</card>
</template>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  data(){
    return{
      uri :'data:application/vnd.ms-excel;base64,',
      template:'<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>',
      base64: function(s){ return window.btoa(unescape(encodeURIComponent(s))) },
      format: function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
    }
  },
 computed: {
      ...mapGetters({
          orders:'table/tables',
      })
  },
   methods: {
    ...mapActions({
      fetch:'table/fetch',
    }),
    tableToExcel(table, name){
      
      if (!table.nodeType) table = this.$refs.table
      var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
      window.location.href = this.uri + this.base64(this.format(this.template, ctx))
    },
    
  },
  created() {
    this.fetch()
  }
}
</script>

<style>

</style>