<template>
<card title="Add Category">
  <div class="container p-5">
    <h2 class="mt-1">เพิ่มหมวดหมู่อาหาร</h2>
    <hr />
    <!-- {{form}} -->
    <!-- //uploadimage -->
    <div class="card card-body">
      <label for>Image Upload</label>
      <input type="file" class="form-control" multiple @change="setFile" />
      <img :src="form.img_url" alt v-if="form.img_url" width="300" />
    </div>
    <!-- //end uploadimage -->

    <form @submit.prevent="add">
      <div v-for="item in fileds" :key="item.id" :class="item.class ? item.class :''">
        <div class="form-group" v-if="item.type==1">
          <label>{{item.label ? item.label : item.name }} {{item.require?'*':''}}</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            v-model="form[`${item.name}`]"
            :required="item.require"
          />
        </div>
      </div>

      <div class="form-group">
        <div class>
          <!-- Submit Button -->
          <v-button :loading="form.busy">Create</v-button>
        </div>
      </div>
    </form>
  </div>
</card>
</template>

<script>
import Form from "vform";
import { mapActions, mapGetters } from "vuex";

export default {
  methods: {
    ...mapActions({
      fetchType: "type/fetch",
      fetchBrand: "brand/fetch"
    }),
    async add() {
      const { data } = await this.form.post("/api/orders");
      if (data) {
        this.$router.push("/admin/editfoods");
      }
    },
    async setFile(e) {
      // ถ้ามี upload image
      this.file = e.target.files[0];
      let d = await this.uploadFile({
        file: this.file,
        path: "imgs"
      });
      this.form.img_url = d;
    }
  },
  computed: {
    ...mapGetters({
    })
  },
  data() {
    return {
      form: new Form({
        type_id: 1,
        brand_id: 1,
        img_url: ""
      }),
      fileds: [
        // 1.string2.number3.textarea
        {
          name: "name",
          label: "ชื่อ",
          type: 1,
          require: true
          // class: "bg-danger"
        }
      ]
    };
  },
  created() {
  }
};
</script>

<style>
</style>
