<template>
<div class="container">

  <div class="logo text-center">
    <img src="images/logo.png" alt="" width="250">
  </div>

  <div class="row">
    <div class="col-lg-4 m-auto">

        <form @submit.prevent="register" @keydown="form.onKeydown($event)">
          <!-- FirstName -->
          <div class="box-login">
            <h6>FirstName :</h6>
            <div class="input-login mb-3">
              <input v-model="form.first_name" :class="{ 'is-invalid': form.errors.has('first_name') }" class="form-control" type="text" name="first_name">
              <has-error :form="form" field="name" />
            </div>
          </div>

          <!-- LastName -->
          <div class="box-login">
            <h6>LastName :</h6>
            <div class="input-login mb-3">
              <input v-model="form.last_name" :class="{ 'is-invalid': form.errors.has('last_name') }" class="form-control" type="text" name="last_name">
              <has-error :form="form" field="name" />
            </div>
          </div>

          <!-- Gender -->
          <div class="box-login">
            <h6>Gender :</h6>
            <div class="form-group">
              <select v-model="form.gender" :class="{ 'is-invalid': form.errors.has('gender') }" class="form-control" name="gender">
                <option value="m">Male</option>
                <option value="f">Female</option>
              </select>
              <has-error :form="form" field="gender" />
            </div>
          </div>

          <!-- Tel -->
          <div class="box-login">
            <h6>Telephone:</h6>
            <div class="input-login mb-3">
              <input v-model="form.tel" :class="{ 'is-invalid': form.errors.has('tel') }" class="form-control" type="number" name="tel">
              <has-error :form="form" field="tel" />
            </div>
          </div>

          <!-- Email -->
          <div class="box-login">
            <h6>E-mail : </h6>
            <div class="input-login mb-3">
              <input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" class="form-control" type="email" name="email">
              <has-error :form="form" field="email" />
            </div>
          </div>

          <!-- Password -->
          <div class="box-login">
            <h6>Password : </h6>
            <div class="input-login mb-3">
              <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" class="form-control" type="password" name="password">
              <has-error :form="form" field="password" />
            </div>
          </div>

          <!-- Password Confirmation -->
          <div class="box-login">
            <h6>Password Confirmation :</h6>
            <div class="input-login mb-5">
              <input v-model="form.password_confirmation" :class="{ 'is-invalid': form.errors.has('password_confirmation') }" class="form-control" type="password" name="password_confirmation">
              <has-error :form="form" field="password_confirmation" />
            </div>
          </div>

          <!-- Role -->
          <div class="box-login">
            <h6>Role :</h6>
            <div class="form-group">
              <select v-model="form.gender" :class="{ 'is-invalid': form.errors.has('gender') }" class="form-control" name="gender">
                <option value="m">สมาชิกทั่วไป</option>
                <option value="f">พนักงาน</option>
                <option value="f">ผู้จัดการ</option>
              </select>
              <has-error :form="form" field="gender" />
            </div>
          </div>

          
              <v-button :loading="form.busy" class="btnlogin mt-5">
                {{ 'register' }}
              </v-button>
             
         
        </form>

    </div>
  </div>
</div>
</template>

<script>
import Form from 'vform'
import LoginWithGithub from '~/components/LoginWithGithub'

export default {
  components: {
    LoginWithGithub
  },

  metaInfo () {
    return { title: 'register' }
  },

  data: () => ({
    form: new Form({
      first_name: '',
      last_name:'',
      gender:'',
      tel:'',
      email: '',
      password: '',
      password_confirmation: ''
    }),
    mustVerifyEmail: false
  }),

  methods: {
    async register () {
      // Register the user.
      const { data } = await this.form.post('/api/register_new2')

      // Must verify email fist.
    
        this.$router.push({ name: 'admin.roleadmin' })
    }
  }
}
</script>

<style scoped>
html,body{
  background-color: #fff !important;
}
.btnlogin{
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  border: none;
}
.logo{
  margin-bottom: 30px;
  margin-top: 100px;
}
.btnlogin{
  width: 100%;
  background-color: #f96c00;
  border-radius: 5px;
  border: none;
}
.btnlogin2{
  width: 100%;
  background-color: #4267B2;
  border-radius: 5px;
  border: none;
}
.input-login input{
  border: none;
  border-bottom: 2px solid #f96c00;
  border-radius: 0px;
  
}
.text-orange{
  color: #f96c00;
}
.box-login-mb{
  margin-bottom: 80px;
}
</style>