<template>
  <div class="ptlob-5">
    <Nav-bar></Nav-bar>
    
    <div class="admin-warp">
    <div class="left-menu-admin">
      <card title="ShubaServices" class="settings-card">
        <h6>ชื่อร้าน : {{ user.branch.name }} </h6>
        <p>หมดอายุ : {{ user.branch.expiry_date_text }}</p>
        <router-link :to="{name:'admin.package_renew'}">
          <button class="btn-orange-o mb-2">ต่อสัญญา</button>
        </router-link>

        <button class="btn-orange-o mt-1 mb-3" @click="logout()"><i class="fa fa-sign-out " aria-hidden="true"></i></button>
<div class="clearfix"></div>
        
        <ul class="nav flex-column">
          <li v-for="tab in tabs" :key="tab.route" class="nav-item">
            
            <router-link :to="{ name: tab.route }" class="nav-link" active-class="active">
              <!-- <fa :icon="tab.icon" fixed-width style="text-size:8px;"/> -->
              <i :class="tab.icon" style="width:20px">  </i>
              | {{ tab.name }}
              
            </router-link>
          </li>
          
        </ul>
      </card>
    </div>

    <div class="content-admin">
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
    </div>
    </div>
  
  
  </div>
</template>


<script>
import NavBar from '~/components/Navbar'

export default {
  middleware: "admin",
  components:{
    NavBar,
  },
  computed: {
    tabs() {
      return [
        {
          name: "แดชบอร์ด",
          route: "admin.dashboard",
          icon:"fa fa-bar-chart",
        },
        {
          name: "ยืนยันออเดอร์",
          route: "admin.confirmorder",
          icon:"fa fa-clipboard",
        },
        {
          name: "สต็อกสินค้า",
          route: "admin.food",
          icon:"fa fa-archive",
        },
        {
          name: "เพิ่มรายการอาหาร",
          route: "admin.food.create",
          icon:"fa fa-plus-circle",
        },
        {
          name: "หมวดหมู่รายการอาหาร",
          route: "admin.editfood",
          icon:"fa fa-list",
        },
        {
          name: "เพิ่มหมวดหมู่อาหาร",
          route: "admin.edittype",
          icon:"fa fa-plus-square",
        },
        {
          name: "ประเภทรายการอาหาร",
          route: "admin.typefood",
          icon:"fa fa-list",
        },
        {
          name: "เพิ่มประเภทรายการอาหาร",
          route: "admin.addtype",
          icon:"fa fa-plus-square",
        },
        {
          name: "แก้ไขรายการที่นั่ง",
          route: "admin.edittable",
          icon:"fa fa-list",
        },
        {
          name: "เพิ่มที่นั่ง",
          route: "admin.addtable",
          icon:"fa fa-plus-square",
        },
        {
          name: "จัดการสมาชิก",
          route: "admin.roleadmin",
          icon:"fa fa-user",
        },
        {
          name: "เพิ่มพนักงาน",
          route: "admin.employee",
          icon:"fa fa-id-card",
        },
        {
          name: "ปรับแต่งทั่วไป",
          route: "admin.basicsetting",
          icon:"fa fa-cog",
        }
      ];
    }
  },
  methods: {
    hideModal() {
      this.$refs["modal-setting"].hide();
    },
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: 'login' })
    },
  },
  
};

</script>

<style scoped>
.admin-warp{
  width: 100%;
}
.left-menu-admin{
  width: 20%;
  float: left;
  height: 1000px;
}
.content-admin{
  width: 80%;
  float: left;
}
.card{
  border-radius: 0px;
}
.card-body{
  min-height:100vh;
}
.settings-card{
  border: none;
  height: 1800px;
  background-color: rgb(44, 44, 44);
  color:  rgb(255, 141, 35) !important;
  border-right: 1px solid #ccc;
}
a{
  color:  rgb(255, 141, 35) !important;
}
html,body{
  background-color: rgb(46, 46, 46);
  height: 100%;
  margin: 0;
}
.card-header{
  color: rgb(255, 141, 35) !important;
}
.nav-link{
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.ptlob-5{
  margin-top: -96px;
}


</style>
