<template>
<card title="Package RE-NEW">
  <div class="container p-5">

    <h2 class="mt-1">ต่อสัญญาระบบ</h2>
    <hr />

    <h6>ระยะเวลา :</h6>
    <select v-model="form.pay_month" class="form-control">
         <option value="1">1 เดือน</option>
         <option value="3">3 เดือน</option>
         <option value="6">6 เดือน</option>
         <option value="9">9 เดือน</option>
         <option value="12">1 ปี</option>
    </select>
    <hr>

    <h6>แพ็คเกจ :</h6>
    <select v-model="form.store_package_id" class="form-control">
      <option :value="item.id" v-for="(item, index) in store_packages" :key="index">{{item.name}}</option>
    </select>
    <hr>

    <h5>ราคา : {{ calPrice }} บาท | ส่วนลด : {{ calDiscPrice }} บาท</h5>
    <hr>

    <h6>อัปโหลดหลักฐานการชำระเงิน :</h6>
    <!-- //uploadimage -->
    <div class="card card-body">
      <label for>Image Upload</label>
      <input type="file" class="form-control" multiple @change="setFile" />
      <img :src="form.img_url" alt v-if="form.pay_img_url" width="300" />
    </div>
    <!-- //end uploadimage -->

    <form @submit.prevent="update">
     

     

     

      <div class="form-group pb-5">
        <div class>
          <!-- Submit Button -->
          <hr>
          <v-button :loading="form.busy">ต่อสัญญา</v-button>
        </div>
      </div>
    </form>
  </div>
</card>
</template>

<script>
import Form from "vform";
import { mapActions, mapGetters } from "vuex";

export default {
  methods: {
    ...mapActions({
      fetchType: "type/fetch",
      fetchBrand: "brand/fetch",
      fetchFood: "foods/fetch",
    fetchPack : 'store_package/fetch'


    }),
    checkForm(){
      if(!this.id){
        this.add()
      }else{
        this.update()
      }
    },

   
  
    async update(){
      const {data} = await this.form.put('/api/branchs/1')
       if (data) {
        this.$router.push("/admin");
      }
    },
    async setFile(e) {
      // ถ้ามี upload image
      this.file = e.target.files[0];
      let d = await this.uploadFile({
        file: this.file,
        path: "imgs"
      });
      this.form.pay_image_url = d;
    }
  },
  computed: {
    ...mapGetters({
      types: "type/items",
      brands: "brand/items",
      foods: "foods/items",
           store_packages: 'store_package/items'


    }),
    id(){
      return this.$route.params.id
    },
     calPrice(){
         let result = 0;
         let pack = this.store_packages.find(el=>el.id == this.form.store_package_id);
        let cal = (this.form.pay_month * pack.price);

        result  = cal;


        if(this.form.pay_month >= 3){
            result =  cal - (pack.discount_3m/100) * cal;
        }else if(this.form.pay_month >= 6){
            result =  cal - (pack.discount_6m/100) * cal;

        }else if(this.form.pay_month >= 9){
            result =  cal - (pack.discount_9m/100) *cal;

        }
        else if(this.form.pay_month >= 12){
            result = cal -  (pack.discount_1y/100) * cal;

        }

        return result

    },
      calDiscPrice(){
         let result = 0;
         let pack = this.store_packages.find(el=>el.id == this.form.store_package_id);
        let cal = (this.form.pay_month * pack.price);



        if(this.form.pay_month >= 3){
            result =   (pack.discount_3m/100) * cal;
        }else if(this.form.pay_month >= 6){
            result =   (pack.discount_6m/100) * cal;

        }else if(this.form.pay_month >= 9){
            result =   (pack.discount_9m/100) *cal;

        }
        else if(this.form.pay_month >= 12){
            result = (pack.discount_1y/100) * cal;

        }

        return result

    },
  },
  data() {
    return {
      form: new Form({
        store_package_id: 1,
        pay_month: 1,
        pay_image_url: "",
        pay_status:1
      }),
      fileds: [
        // 1.string2.number3.textarea
        {
          name: "pay_month",
          label: "ชื่อ",
          type: 2,
          require: true
          // class: "bg-danger"
        },
    
      ]
    };
  },
  created() {
   this.fetchPack()
  }
};
</script>

<style>
</style>
