<template>
  <card title="Role Admin">
    
      <h3 class="">จัดการสมาชิก</h3>
      
      <router-link :to="'/admin/employee'" class=" ml-1" style="font-weight: 600;">
                   <button button class="btn btn-success">Add New</button>
       </router-link>
      <table class="table table-bordered">
        
        <thead class="thead-dark text-center">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Gender</th>
            <th scope="col">Tel</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(user,i) in users" :key="user.id">
            <th scope="row">{{i+1}}</th>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.gender == 'm' ? 'm':'fm'}}</td>

            <td>{{user.tel}}</td>
            <td><select class="form-control" id="exampleFormControlSelect1" v-model="user.role_id" @change="changeRole(user)">
                    <option value="1">สมาชิกทั่วไป</option>
                    <option value="3">พนักงาน</option>
                    <option value="2">ผู้จัดการ</option>
                    
                </select>
            </td>
            </tr>
            
        </tbody>
      </table>



  </card>
</template>

<script>

import axios from "axios";
export default {
   data(){
          return{
              users:[]
          }
      },
  methods: {
    
    async fetch(){
       const {data} =  await axios.get('/api/roles')
       this.users = data
    },
    async changeRole(user){
      const {data} =  await axios.post('/api/roles',{user})

    }
  },
  created() {
    this.fetch();
  }
};
</script>

<style>
.comfirm-box {
  width: 100%;
  height: 500px;
  background-color: white;
}
.confirmlist {
  clear: both;
  padding: 25px;
}
.cf-img{
  width: 55px;
  height: 55px;
  float: left;
}
.btn-cf{
  margin-top: -5px;
}
</style>
