<template>
  <card title="Stock">
    <div class="categories">
      <b-button pill variant="outline-secondary" v-for="(order, index) in orders" :key="index" @click="setCatActive(order.id)">{{order.name}}</b-button>
    </div>
 
         <div v-for="order in categoriesSelected(orders)" :key="order.id">
            <div class="row">
               
                <div class="col col-12 col-md-6" v-for="(food, index) in order.foods" :key="index">
                  <b-card class="text-center">
                    <order-card 
                    :order="food" 
                    @showAdd="setShowAddActive" 
                    :showAdd="food.id == showAddActive"
                    />
              </b-card>
                </div>
            </div>
          </div>

  </card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import OrderCard from '~/components/admin/StockCard'
import Form from 'vform'

export default {
  components:{
    OrderCard,
  },
  metaInfo () {
    return { title: 'home' }
  },
  data() {
    return {
      categoryActive: 1,
      showAddActive:0,
      lists:[]
    }
  },
  computed: {
    ...mapGetters({
      orders:'order/orders',
    })
  },
  methods: {
    ...mapActions({
      fetch:'order/fetch',
      addList:'order/addList'
    }),
    setShowAddActive(id){
     this.showAddActive = id
    },
    minus(index){
      const id = (element) => element.id == this.categoryActive;
      let i = this.orders.findIndex(id)
      this.orders[i].foods[index].input--
    },
    plus(index){
        const id = (element) => element.id == this.categoryActive;
        let i = this.orders.findIndex(id)
      if( this.orders[i].foods[index].input >= this.orders[i].foods[index].max){
        alert(`max : ${this.orders[i].foods[index].max}`)
      } else{
        this.orders[i].foods[index].input++
      }
      
    },
    removeList(id){
        this.orders.forEach(order => {
        order.foods.forEach(food => {
          if(food.id == id) {
            food.input = 0
          }
        });
      });

      this.setList()

      // const id = (element) => element.id == this.categoryActive;
      // let i = this.orders.findIndex(id)
      // this.orders[i].foods[index].input = 0
    },
    categoriesSelected(orders){
      const result = orders.filter((order) => {
        return order.id == this.categoryActive
      })
      return result
    },
    setCatActive(id){
      this.categoryActive = id
    },
    setList(){
      
      let result = []
      this.orders.forEach(order => {
        order.foods.forEach(food => {
          if(food.input > 0) { 
            result.push(food)
          }
        });
      });

      this.lists = result
    },
    goToConfirm(){
      this.setList()
      this.$refs['confirm-modal'].show()
    }

  },
  created() {
    this.fetch()
  }
}
</script>

<style>

</style>