<template>
  <div class="main-layout">
    <!-- <navbar /> -->

    <div class="mt-4 pb-50">
      <child />
    </div>

    <menu-bar v-if="user ? user.role.name != 'superadmin' : true" />

  </div>
</template>

<script>
import Navbar from '~/components/Navbar'
import MenuBar from '~/components/MenuBar'

export default {
  name: 'MainLayout',

  components: {
    Navbar,
    MenuBar
  },
  created(){
    
  }
}
</script>

<style scpoed>
  .pb-50{
    padding-bottom: 150px;
  }
</style>