<template>
<div class="container">

  <div class="logo text-center">
    <img src="images/logo.png" alt="" width="250">
  </div>

 
  <div class="row">
    <div class="col-lg-4 m-auto">

      <form @submit.prevent="login" @keydown="form.onKeydown($event)">
      <div class="box-login">
        <h6>อีเมล :</h6>
        <div class="input-login mb-3">
            <input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" class="form-control" type="email" name="email">
            <has-error :form="form" field="email" />
        </div>
      </div>

      <div class="box-login">
        <h6>รหัสผ่าน :</h6>
        <div class="input-login mb-3">
              <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" class="form-control" type="password" name="password">
              <has-error :form="form" field="password" />
        </div>
      </div>
 
      <div class="row box-login-mb">
        <div class="col-6">
          <div class="m-auto">
            <checkbox v-model="remember" name="remember">
              {{ 'จดจำผู้ใช้นี้' }}
            </checkbox>
          </div>
            
        </div>

        <div class="col-6">
          <div class="m-auto text-right">
            <router-link :to="{ name: 'password.request' }" class="small ml-auto my-auto text-orange">
              {{ 'ลืมรหัสผ่าน' }}
            </router-link>
          </div>
        </div>

      </div>

      <div class="btnlogin">
        <v-button :loading="form.busy" class="btnlogin">
            {{ 'ยืนยัน' }}
        </v-button>
      </div>

      <div class="btnregister mt-3">
        <router-link :to="{ name: 'register' }" style="color:#f96c00;">
          {{ 'สมัครสมาชิก' }}
        </router-link>
      </div>
      </form>
      
    </div>
  </div>
</div>
</template>

<script>
import Form from 'vform'
import LoginWithGithub from '~/components/LoginWithGithub'

export default {
  middleware: 'guest',

  components: {
    LoginWithGithub
  },

  metaInfo () {
    return { title: 'login' }
  },

  data: () => ({
    form: new Form({
      email: '',
      password: ''
    }),
    remember: false
  }),

  methods: {
    async login () {
      // Submit the form.
      const { data } = await this.form.post('/api/login')

      // Save the token.
      this.$store.dispatch('auth/saveToken', {
        token: data.token,
        remember: this.remember
      })

      // Fetch the user.
      await this.$store.dispatch('auth/fetchUser')

      // Redirect home.
      if(this.user.new_password == 0){
              this.$router.push({ name: 'newpassword' })

      }else{

        if(this.user.role.name == 'superadmin'){
                this.$router.push({ name: 'superadmin' })
        }
        else{
        this.$router.push({ name: 'home' })
        }

      }
    }
  }
}
</script>

<style scoped>
body {
  background-color: #fff !important;
}

.logo{
  margin-bottom: 30px;
  margin-top: 100px;
}
.btnlogin{
  width: 100%;
  background-color: #f96c00;
  border-radius: 5px;
  border: none;
}
.btnlogin2{
  width: 100%;
  background-color: #4267B2;
  border-radius: 5px;
  border: none;
}
.input-login input{
  border: none;
  border-bottom: 2px solid #f96c00;
  border-radius: 0px;
  
}
.text-orange{
  color: #f96c00;
}
.box-login-mb{
  margin-bottom: 80px;
}
.btnregister{
  text-align: center;

}
</style>