<template>
<div class="container">

  <div class="logo text-center">
    <img src="images/logo.png" alt="" width="250">
  </div>

  <div class="row">
    <div class="col-lg-4 m-auto">

        <form @submit.prevent="register" @keydown="form.onKeydown($event)">
          <!-- FirstName -->
          <div class="box-login">
            <h6>ชื่อ :</h6>
            <div class="input-login mb-3">
              <input v-model="form.first_name" :class="{ 'is-invalid': form.errors.has('first_name') }" class="form-control" type="text" name="first_name">
              <has-error :form="form" field="name" />
            </div>
          </div>

          <!-- LastName -->
          <div class="box-login">
            <h6>นามสกุล :</h6>
            <div class="input-login mb-3">
              <input v-model="form.last_name" :class="{ 'is-invalid': form.errors.has('last_name') }" class="form-control" type="text" name="last_name">
              <has-error :form="form" field="name" />
            </div>
          </div>

          <!-- Gender -->
          <div class="box-login">
            <h6>เพศ :</h6>
            <div class="form-group">
              <select v-model="form.gender" :class="{ 'is-invalid': form.errors.has('gender') }" class="form-control" name="gender">
                <option value="m">ชาย</option>
                <option value="f">หญิง</option>
              </select>
              <has-error :form="form" field="gender" />
            </div>
          </div>

          <!-- Tel -->
          <div class="box-login">
            <h6>เบอร์โทร :</h6>
            <div class="input-login mb-3">
              <input v-model="form.tel" :class="{ 'is-invalid': form.errors.has('tel') }" class="form-control" type="number" name="tel">
              <has-error :form="form" field="tel" />
            </div>
          </div>

          <!-- Email -->
          <div class="box-login">
            <h6>อีเมล : </h6>
            <div class="input-login mb-3">
              <input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" class="form-control" type="email" name="email">
              <has-error :form="form" field="email" />
            </div>
          </div>

          <!-- Password -->
          <div class="box-login">
            <h6>รหัสผ่าน : </h6>
            <div class="input-login mb-3">
              <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" class="form-control" type="password" name="password">
              <has-error :form="form" field="password" />
            </div>
          </div>

          <!-- Password Confirmation -->
          <div class="box-login">
            <h6>ยืนยันรหัสผ่าน :</h6>
            <div class="input-login mb-5">
              <input v-model="form.password_confirmation" :class="{ 'is-invalid': form.errors.has('password_confirmation') }" class="form-control" type="password" name="password_confirmation">
              <has-error :form="form" field="password_confirmation" />
            </div>
          </div>

          
              <v-button :loading="form.busy" class="btnlogin mt-5">
                {{ 'ยืนยัน' }}
              </v-button>

              <div class="text-center mt-3">
                <router-link :to="{ name: 'login' }"  style="color:#f96c00;">
                  {{ 'เข้าสู่ระบบ' }}
                </router-link>
              </div>
             
         
        </form>

    </div>
  </div>
</div>
</template>

<script>
import Form from 'vform'
import LoginWithGithub from '~/components/LoginWithGithub'

export default {
  middleware: 'guest',

  components: {
    LoginWithGithub
  },

  metaInfo () {
    return { title: 'register' }
  },

  data: () => ({
    form: new Form({
      first_name: '',
      last_name:'',
      gender:'',
      tel:'',
      email: '',
      password: '',
      password_confirmation: ''
    }),
    mustVerifyEmail: false
  }),

  methods: {
    async register () {
      // Register the user.
      const { data } = await this.form.post('/api/register')

      // Must verify email fist.
      if (data.status) {
        this.mustVerifyEmail = true
      } else {
        // Log in the user.
        const { data: { token } } = await this.form.post('/api/login')

        // Save the token.
        this.$store.dispatch('auth/saveToken', { token })

        // Update the user.
        await this.$store.dispatch('auth/updateUser', { user: data })
        await this.$store.dispatch('auth/fetchUser')

        // Redirect home.
        this.$router.push({ name: 'home' })
      }
    }
  }
}
</script>

<style scoped>
html,body{
  background-color: #fff !important;
}
.btnlogin{
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  border: none;
}
.logo{
  margin-bottom: 30px;
  margin-top: 100px;
}
.btnlogin{
  width: 100%;
  background-color: #f96c00;
  border-radius: 5px;
  border: none;
}
.btnlogin2{
  width: 100%;
  background-color: #4267B2;
  border-radius: 5px;
  border: none;
}
.input-login input{
  border: none;
  border-bottom: 2px solid #f96c00;
  border-radius: 0px;
  
}
.text-orange{
  color: #f96c00;
}
.box-login-mb{
  margin-bottom: 80px;
}
</style>